<!-- Define author's picture -->
<% var authorPicture = null; %>
<% if (theme.gravatar_email && theme.gravatar_email.length) { %>
    <% authorPicture = gravatar(theme.gravatar_email, 110); %>
<% } else if (theme.author.picture && theme.author.picture.length) { %>
<% if (is_remote_url(theme.author.picture)) { %>
        <% authorPicture = theme.author.picture; %>
    <% } else { %>
        <% authorPicture = url_for(theme.image_dir + '/' + theme.author.picture); %>
    <% } %>
<% } %>
<nav id="sidebar" data-behavior="<%= sidebarBehavior %>">
    <div class="sidebar-container">
        <% if (authorPicture) { %>
            <div class="sidebar-profile">
                <a href="<%- url_for(theme.sidebar["menu"]["about"].url) %>">
                    <img class="sidebar-profile-picture" src="<%= authorPicture %>" alt="<%= __('global.author_picture') %>"/>
                </a>
                <h4 class="sidebar-profile-name"><%= config.author %></h4>
                <% if (__('author.bio')) { %>
                    <h5 class="sidebar-profile-bio"><%- markdown(__('author.bio')) %></h5>
                <% } %>
            </div>
        <% } %>
        <ul class="sidebar-social">
        <li class="sidebar-button">
        
        <% for (var n in theme.sidebar["author_links"]) { %>
             <% if (url_for(theme.sidebar["author_links"][n].url).indexOf(config.url) < 0 && url_for(theme.sidebar["author_links"][n].url).indexOf(':') >= 0) { %>
                        <a  class="sidebar-button-link <% if (theme.sidebar["author_links"][n].class) { %><%= theme.sidebar["author_links"][n].class %><% } %>" href="<%- url_for(theme.sidebar["author_links"][n].url) %>" target="_blank" rel="noopener">
                    <% } else { %>
                        <a  class="sidebar-button-link <% if (theme.sidebar["author_links"][n].class) { %><%= theme.sidebar["author_links"][n].class %><% } %>"
                            <% if (theme.sidebar["author_links"][n].url.indexOf("/") === 0 && theme.sidebar["author_links"][n].url.length === 1) { %> href="<%- url_for(' ') %>"
                            <% } else if (theme.sidebar["author_links"][n].url.indexOf("/") === 0) { %> href="<%- url_for(theme.sidebar["author_links"][n].url.substr(1)) %>"
                            <% } else { %> href="<%- url_for(theme.sidebar["author_links"][n].url) %>"<% } %>
                        >
                    <% } %>
                        <i class="sidebar-button-icon fa fa-lg <%= 'fa-' + theme.sidebar["author_links"][n].icon %>"></i>
                       <!-- <span class="sidebar-button-desc"><%= __(theme.sidebar["author_links"][n].title) %></span> -->
                    </a>   
        <% } %>
                    
            </li>
            
        </ul>
         <ul class="sidebar-buttons">
            <% for (var n in theme.sidebar["menu"]) { %>
                <li class="sidebar-button">
                    <% if (url_for(theme.sidebar["menu"][n].url).indexOf(config.url) < 0 && url_for(theme.sidebar["menu"][n].url).indexOf(':') >= 0) { %>
                        <a  class="sidebar-button-link <% if (theme.sidebar["menu"][n].class) { %><%= theme.sidebar["menu"][n].class %><% } %>" href="<%- url_for(theme.sidebar["menu"][n].url) %>" target="_blank" rel="noopener">
                    <% } else { %>
                        <a  class="sidebar-button-link <% if (theme.sidebar["menu"][n].class) { %><%= theme.sidebar["menu"][n].class %><% } %>"
                            <% if (theme.sidebar["menu"][n].url.indexOf("/") === 0 && theme.sidebar["menu"][n].url.length === 1) { %> href="<%- url_for(' ') %>"
                            <% } else if (theme.sidebar["menu"][n].url.indexOf("/") === 0) { %> href="<%- url_for(theme.sidebar["menu"][n].url.substr(1)) %>"
                            <% } else { %> href="<%- url_for(theme.sidebar["menu"][n].url) %>"<% } %>
                        >
                    <% } %>
                        <i class="sidebar-button-icon fa fa-lg <%= 'fa-' + theme.sidebar["menu"][n].icon %>"></i>
                        <span class="sidebar-button-desc"><%= __(theme.sidebar["menu"][n].title) %></span>
                    </a>
            </li>
            <% } %>
        </ul>
        
    </div>
</nav>
